<div style="display: none;" id="doc3" class="yui-t6 chatroom-page"> 
	<jaxer:include src="jaxer-include/templates/header.html"></jaxer:include>
	<p><span id="welcome_message"></span> (<a href="index.html" id="signout">signout</a>)</p>
	<div id="bd">
	<div id="yui-main">
		<div id="chatroom_container" class="yui-b">
			<button id="add_new_chatroom" type="button">Add New Chatroom</button>
		</div>
	</div>
	<div id="userlist_container" class="yui-b">
		<h2>Users in Chatroom</h2>
		<ul id="userlist"></ul>
	</div>
	<div id="info_box" class="yui-b">
		<img src="images/jaxer.png" alt="jaxer logo" />
		<p id="jaxer_build"></p>
	</div>
	<jaxer:include src="jaxer-include/templates/footer.html"></jaxer:include>
</div>